{
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-transform-runtime",
        [
          "module-resolver",
          {
            "root": [
              "./src"
            ]
          }
        ],
        [
          "styled-components",
          {
            "ssr": false,
            "preprocess": false
          }
        ]
      ]
    }
  },
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}